@media (min-width: 768px) {
  .Registration {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .Registration .box:nth-child(2) {
    margin-left: 40px;
  }
  .Registration .left-border {
    border-left: 2px solid rgb(168, 164, 164);
    padding-left: 40px;
    margin-left: 30px;
    display: inline;
  }
  .Registration .title {
    margin-right: 15px;
  }
  .Cards {
    padding: 0px 18%;
  }
  .link-1 a {
    padding-left: 50px;
  }

}

* {
  padding: 0px;
  margin: 0px;
}

.Container {
  width: 100%;
}

.nav-Container {
  border-bottom: 1px solid #eaeaeb;
  width: 100%;
  height: 50px;
  margin-top: 1%;
  color: #34404b;
  font-family: Ubuntu;
  background-color: #ffffff;
}

.nav-left {
  display: -webkit-inline-flex;
  padding-left: 6%;
}

.nav-left img {
  height: 12px;
  margin-top: 10px;
}

.nav-left span {
  padding-left: 7px;
  font-size: 15px;
  margin-top: 7px;
}

.phonelogo img {
  height: 15px;
  margin-top: 10px;
}

.phonelogo {
  padding-left: 30px;
}

.nav-right {
  float: right;
  padding-right: 6%;
  display: -webkit-inline-flex;
  padding-top: 1px;
  color: #34404b;
  font-family: Ubuntu;
}

.loginButton {
  width: 40px;
  height: 17px;
  margin-top: 10px;
  margin-right: 15px;
  font-size: 14px;
}

.userButton {
  height: 35px;
  width: 115px;
  background-color: white;
  border-radius: 5px;
  border-color: rgb(252, 92, 34);
  font-size: 15px;
}

.container {
  color: #34404b;
  height: 100px;
  font-family: Ubuntu;
  background-color: #ffffff;
}

.Navigation {
  display: flex;
}

.Navigation img {
  width: 38px;
  height: 41px;
  margin-left: 6%;
  margin-top: 20px;
  border: 1px solid black;
}

.Navigation h1 {
  width: 301px;
  height: 24px;
  font-size: 20px;
}

.Navigation span {
  margin-left: 8px;
  font-size: 15px;
}

.Navigation-Text {
  margin-left: 15px;
  margin-top: 25px;
}

.dot {
  padding-left: 70%;
  margin-top: -5px;
}

.skill-dot{
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: inline-block;
}

.Navigation-menu {
  float: right;
  padding-right: 5.5%;
  color: #34404b;
  font-family: Ubuntu;
  display: flex;
}

.Navigation-menu a {
  font-size: 16px;
  padding-left: 40px;
  margin-top: -8%;
  width: 46px;
  height: 19px;
  line-height: 19px;
}

.home {
  color: rgb(252, 92, 34);
}

hr.horizontal {
  border: 2px solid #ff5912;
  width: 20px;
  border-radius: 3px;
  margin-top: 1px;
}

.information {
  background-image: url("Assets/587a439bb0b3561306f2c444d571fc27");
  width: 100%;
  height: 490px;
  font-family: "Ubuntu", sans-serif !important;
  color: #666;
}
.information-text {
  margin-left: 20%;
  padding-top: 7%;
}

.information-text h1 {
  font-size: 48px;
  color: #34404b;
  font-family: "Ubuntu Medium";
  line-height: 53px;
}

.information-text p {
  font-size: 26px;
  margin-top: 10px;
  color: #34404b;
  font-family: Ubuntu;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: 36px;
}

.button {
  width: 230px;
  height: 50px;
  background-color: #fc4111;
  color: #ffffff;
  font-size: 18px;
  margin-top: 50px;
  margin-left: 20%;
  font-family: Ubuntu;
  line-height: 48px;
}

.chefphoto {
  float: right;
  padding-right: 5%;
  margin-top: 5.2%;
}

.Registration {
  padding:15px 20%;
  background-color: #2f2f2f;
  color: #f2f2f2;

}

.Registration .title {
  font-size: 25px;
}

.Registration .date {
  font-size: 28px;
}

.Maindiv {
  background-color: #f4f6f8;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  font-family: Ubuntu;
}

.Maindiv h2 {
  text-align: center;
  padding-top: 6%;
  font-size: 50px;
  line-height: 43px;
  color: #34404b;
}

.Maindiv p {
  margin-left: 20%;
  font-size: 24px;
  margin-top: 10px;
  line-height: 1.6;
  color: #2f2f2f;
  letter-spacing: 0.6px;
  line-height: 36px;
}

.main-container {
  width: 100%;
  color: #34404b;
  font-family: Ubuntu;
}

.menu h4 {
  text-align: center;
  padding-top: 70px;
  font-size: 50px;
  line-height: 43px;
}

.menu-1 h4 {
  font-size: 24px;
  margin-left: 33%;
  margin-top: 30px;
}

.menu-2 h4 {
  font-size: 24px;
  text-align: center;
  margin-top: -40px;
  color: #ff5912;
  letter-spacing: 0.72px;
  line-height: 36px;
}

.menu-3 h4 {
  font-size: 24px;
  margin-left: 60%;
  margin-top: -35px;
  color: #ff5912;
  letter-spacing: 0.72px;
  line-height: 36px;
}

hr.horizontal-1 {
  border: 2px solid rgb(252, 92, 34);
  width: 2%;
  border-radius: 3px;
  margin-top: 4px;
}

.Content {
  margin-left: 20%;
  font-size: 22px;
  margin-top: 3%;
  line-height: 1.6;
  color: #2f2f2f;
  letter-spacing: 0.6px;
  line-height: 36px;
}

.Content-1 {
  margin-left: 20%;
  margin-top: 2%;
}

.Content-1 h6 {
  font-size: 22px;
  margin-top: 1%;
  letter-spacing: 0.6px;
  line-height: 36px;
}

.Content-1 p {
  margin-left: 30%;
  font-size: 22px;
  margin-top: -2.5%;
  letter-spacing: 0.6px;
  line-height: 30px;
}

.Content-1 h5 {
  margin-left: 30%;
  font-size: 22px;
  margin-top: 1%;
  color: #ff5912;
  letter-spacing: 0.6px;
  line-height: 36px;
}

.Content-2 {
  font-size: 22px;
  margin-left: 30%;
  margin-top: 3%;
  letter-spacing: 0.6px;
  line-height: 30px;
}

.column {
  position: relative;
}

.column h4 {
  margin-left: 20%;
  font-size: 22px;
  margin-top: 7%;
  letter-spacing: 0.6px;
  line-height: 36px;
}

.img-1 {
  margin-left: 41%;
  margin-top: -6.5%;
}

.img {
  display: none;
}

.Price-1 {
  color: #2f2f2f;
  position: absolute;
  font-size: 22px;
  margin-top: -9%;
  margin-left: 48%;
  letter-spacing: 0.66px;
  line-height: 36px;
}

.Price-2 {
  color: #2f2f2f;
  position: absolute;
  font-size: 22px;
  margin-top: -6%;
  margin-left: 48%;
  letter-spacing: 0.66px;
  line-height: 36px;
}

.Price-3 {
  color: #2f2f2f;
  position: absolute;
  font-size: 22px;
  margin-top: -3%;
  margin-left: 48%;
  letter-spacing: 0.66px;
  line-height: 36px;
}

.button-1 {
  width: 220px;
  height: 50px;
  color: #ffffff;
  background-color: #fc4111;
  font-size: 18px;
  margin-top: 3.5%;
  margin-left: 44.5%;
  line-height: 48px;
}

.Testimonials {
  width: 100%;
  background-color: #f4f6f8;
  margin-top: 7%;
  color: #34404b;
  font-family: Ubuntu;
  padding-bottom: 60px;
}

.Testimonials h1 {
  text-align: center;
  padding-top: 6%;
  font-size: 46px;
  line-height: 43.2px;
}

.Testimonials p {
  font-size: 25px;
  margin-top: 2%;
}

.Arrow {
  height: 1px;
  width: 1px;
  margin-left: 18%;
  padding-top: 15%;
  display: -ms-inline-grid;
}

.center {
  margin-left: 25.2%;
}

.social {
  height: 450px;
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 25%;
  margin-top: -11%;
}

.opportunity-text {
  margin-left: 22%;
}

.opportunity-text img {
  height: 90px;
  margin-top: 10%;
  margin-left: 2%;
}

.opportunity-text p {
  font-size: 25px;
  padding-left: 8%;
  margin-top: -10%;
  color: #2f2f2f;
  font-family: Ubuntu;
  letter-spacing: 0.6px;
  line-height: 30px;
}

.opportunity-text h6 {
  margin-left: 8%;
  padding-top: 6%;
  font-size: 25px;
  color: #2f2f2f;
}

.social-1 {
  margin-left: 8%;
  font-size: 25px;
}

.photo {
  width: 20%;
  height: 450px;
  margin-top: -47.4%;
  background-color: #f2f2f2;
}

.photo img {
  margin-top: 250px;
  margin-left: 50%;
  height: 30%;
}

.line {
  margin-left: 8%;
  width: 90%;
  padding-top: 2%;
}

.Foundation-1 {
  margin-top: 12%;
  margin-left: 0%;
  font-family: Ubuntu;
}

.points {
  margin-left: 87%;
  margin-top: -20px;
}

.points1 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.Arrow1 {
  margin-left: 110%;
  margin-top: -32%;
}

.post {
  width: 100%;
  padding-top: 100px;
  font-family: Ubuntu;
  color: #34404b;
  text-align  : center;
}

.post h1 {
  font-size: 50px;
}

.post p {
  padding-top: 10px;
  font-size: 25px;
}

.card {
  width: 100%;
}

.Cards {
  display: block;
  overflow: hidden;
  padding-top: 60px;
}

.Box{
  background: linear-gradient(to right, #f7f7f7 55%, #ffffff 45%);
  border: 1px solid #cbcbcb;
}

.cardbox {
  display: inline-block;
  padding: 30px;
  margin: 15px;
  text-align: start;
}

.cardbox img {
  border: 1px solid #707070;
}

.cardbox h3 {
  padding-top: 25px;
}

.cardbox p {
  font-size: 18px;
  padding-top: 5px;
}

.line1 {
  width: 100%;
  padding-top: 20px;
}

.Advanced {
  padding-top: 10px;
}

.point {
  padding-top: 8px;
}

.skill-point {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.purple {
  background-color: rgb(104, 104, 240);
}

.orange {
  background-color: orange;
}

.orangered {
  background-color: orangered;
}

.red {
  background-color: red;
}

.grey{
  background-color: rgb(216, 212, 212);

}

.Footer {
  width: 100%;
  background-color: #f2f2f2;
  font-family: Ubuntu;
  color: #34404b;
  margin-top: 120px;
}

.container-1 {
  border-bottom: 1px solid #d8d8dd;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.container-1 p {
  font-size: 25px;
}

.footer {
  display: inline-block;
  padding-top: 20px ;
  padding-bottom: 20px;
}

.footer-1 {
  height: 27px;
  width: 27px;
}

.footer-2 {
  padding-left: 10px;
  padding-right: 10px;
  height: 27px;
  width: 27px;
}

.small-footer {
  font-family: Ubuntu;
  color: #34404b;
  padding: 50px;
  margin-left: 50px;
}

.link-1 {
  display: flex;
}

.link-1 b{
  font-size: 20px;
}

.link-1 a {
  font-size: 18px;
}

hr.horizontal-line {
  margin-top: 10%;
  border: 1px solid rgb(252, 92, 34);
  width: 20px;
}

.Item-1 {
  padding-top: 15px;
  margin-left: -2%;

}

.skill-Item {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: inline-block;
}

.link-2 {
  display: flex;
  padding-top: 22px;
}

.line-2 b {
  font-size: 20px;
}

.link-2 a {
  font-size: 18px;
  padding-left: 35px;
}

.Footer-1 {
  margin-left: 20%;
}

.title-1 b {
  font-size: 20px;
}

.Payment-photo{
  width: 200px;
  padding-left: 30px;
}

@media (max-width: 1200px){
  .link-2 {
    display: inline-block;
  }  

}